<div class="gameViewWrapper">
  <div class="nav">
    <div id="home"><a ui-sref="home">Home</a></div>
    <div id="about"><a ui-sref="about">About</a></div>
  </div>

  <div class="globe">
    <section class="stage">
      <figure class="ball" ng-class="{quickSpin: spin}"><span class="shadow"></span></figure>
    </section>
  </div>

  <div class="spinMe" ng-click="selectCountry()">{{spinText}}</div>

  <div class="ctrlInfobar" ng-if="selectedCountry">
    <div class="countryName"><p>You found {{selectedCountry.name}}!</p></div>
    <div class="subregion"><p>It's located in {{selectedCountry.subregion}}.</p></div>
    <div class="capital"><p>Its capital is {{selectedCountry.capital}}.</p></div>
    <div class="population"><p>There are {{selectedCountry.population | number}} people living there.</p></div>
    <div class="area"><p>The country is {{selectedCountry.area | number}} sq. kilometers in size.</p></div>
  </div>

  <!-- Need a way to toggle/change state on a second click. The progression should move from still to spinning globe to stopped globe, and on click for stopped globe, an API call should be made. -->

  <!-- <div class="attribution">A game created by Julie A. Kohler</div> -->
  <!-- ^Question: Should this be a copyright notice? -->
</div>
