
<div class="nav" id="home"><a ui-sref="home">Home</a></div>
<div class="nav" id="about"><a ui-sref="about">About</a></div>

<img src="public/assets/small world image for testing.jpeg" alt="Hello, world!">

<infobar-dir></infobar-dir>


<!-- <div class="spinButton" ng-click="spinGlobe()">Spin me!</div> -->
<!-- <button type="button" name="button" ng-click="getCountry()">Get Country</button> -->

<!-- <audio id="soundClip">
	<source src="audio/beep.mp3"></source>
	<source src="audio/beep.ogg"></source>
</audio> -->

<!-- Need a way to toggle/change state on a second click. The progression should move from still to spinning globe to stopped globe, and on click for stopped globe, an API call should be made. -->

<!-- Globe likely goes here, either as a directive or written in -->

<!-- <div class="attribution">A game created by Julie A. Kohler</div> -->
<!-- ^Question: Should this be a copyright notice? -->
